    
    
    
    
// bg-colors
    $white: #FFFFFF;
    $dirty-white: #EEEEEE;
    $blue: #528FF0;
    $dull-red: #D74D52 ;   
    $light-dull-red: #D74D52CF;
    $oil: #23374B;
    $dark-brown: #333333;
    $dark-oil: #192735;
    $grey: #00000080;
    $light-grey: #00000060;

// txt-colors
    $green: #3ADC79;
    $moderno: #A3B5CA;
    $orange: #F28202;
    $red: #FF3A2D;